# General
__pycache__/
*.py[cod]
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Directories
logs/

# Results Directory Rules
results/*
!results/images/
!results/*.txt
!results/checkpoint-4000/
results/checkpoint-4000/*.pt  # Ignore heavy optimizer states
results/checkpoint-4000/rng_state.pth

# Checkpoints Directory
checkpoints/

# IDEs
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/

# Office Temp Files
~$*
